a {
    color: red;
    text-decoration: none;
}

ul {
    list-style: none;
}

a:hover {
    color: black;
    font-size: 20px;
    background-color: antiquewhite;
}

input {
    width: 200px;
    height: 30px; 
}

.button {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.forma {
    margin-left: 50px;
}

.forma form {
    display: flex;
    flex-direction: column;
}